* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *trabajamos con grid para que se adapte a todo tipo de pantallas */
body {
  background-color: var(--color-body);
  font-family: var(--font-roboto);
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "container";
}
/* *empezamos con el header y simbolos de logro y fallos */
.vidas-fallos {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
  font-size: 20px;
}

/* *empezamos con el contenedor principal , llevara las cajas de colores y mas contenido  */
#container {
  box-shadow: 0px -1px 58px -3px rgba(6, 22, 27, 0.75);
  -webkit-box-shadow: 0px -1px 58px -3px rgba(6, 22, 27, 0.75);
  -moz-box-shadow: 0px -1px 58px -3px rgba(6, 22, 27, 0.75);
  background-color: white;
  border-radius: 20px;
  grid-area: container;
  height: 510px;
  margin: 10px;
  width: auto;
}
.codigo-RGB {
  height: 70px;
<<<<<<< HEAD
=======
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--color-container);
  padding: 5px;
>>>>>>> main
  text-align: center;
  padding: 10px;
}
.codigo-RGB h1 {
  font-family: var(--font-pixel);
  letter-spacing: 20px;
  font-size: 30px;
}
.codigo-RGB p {
  font-size: 30px;
  letter-spacing: 10px;
  padding: 5px;
}
/* *aqui van las cajas de colores  */
.cajas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 5px;
  height: 290px;
}
#caja1 {
  height: 100px;
  width: 200px;
}
#caja1:hover {
  cursor: pointer;
}

#caja2 {
  height: 100px;
  width: 200px;
}
#caja2:hover {
  cursor: pointer;
}
#caja3 {
  height: 100px;
  width: 200px;
}
#caja3:hover {
  cursor: pointer;
}
.pie {
  word-wrap: break-word;
  height: 90px;
  text-align: center;
}
.pie h1 {
  font-family: var(--font-pixel);
}
.pie p {
  font-size: 15px;
}
